<h1>Welcome to South-Bay Motorcycle Share Page </h1>
<%- include('./partials/header') %>
<br><br>
<img src="images/san-jose-banner.jpeg" width="1200" height="400">
<%- include('./partials/footer') %> 


