<%- include('../partials/header') %>

<h2>You can share your posts here</h2>
<form id="new-form" action="/posts" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Content</label>
    <input type="text" name="content">
    <input type="submit" value="Add Posts">
  </form>
  

<%- include('../partials/footer') %>