<%- include('../partials/header') %>
<h2>Enter The Comment</h2>
<form action="/posts/<%=postId %>/comments/create" method="POST">   
    <label>comment
        <input type="text" required name="comment">
    </label><br><br>
    <input type="submit" value="Add Comment">
    </form>
<%- include('../partials/footer') %>